<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookStore</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    </environment>
</head>
<body>

    <div class="row">

        <header class="header">

            <br /><img src="/images/logo.png" width="15%" height="25%"/>

            <button type="button" class="btn btn-warning btn-lg">
                <a class="nav-link" href="/store/carrossel">
                    <span class="spinner-grow spinner-grow-sm"></span>
                    Carrossel
                </a>
            </button>
            <button type="button" class="btn btn-warning btn-lg">
                <a class="nav-link" href="/store/cart">
                    <span class="spinner-grow spinner-grow-sm"></span>
                    Cart
                </a>
            </button>
            <button type="button" class="btn btn-warning btn-lg">
                <a class="nav-link" href="/store/resume">
                    <span class="spinner-grow spinner-grow-sm"></span>
                    Resume
                </a>
            </button>
            <button type="button" class="btn btn-warning btn-lg">
                <a class="nav-link" href="/store/account">
                    <span class="spinner-grow spinner-grow-sm"></span>
                    Account
                </a>
            </button>

        </header>

        
        
    </div>
    <hr />
    <div class="container body-content">
        @RenderBody()
    </div>
    <br />
    <hr />
    <footer class="footer">
        <div class="position-relative d-flex flex-justify-between pt-6 pb-2 mt-6 f6 text-gray border-top border-gray-light ">
            &copy; 2020 Jose Teotonio - BookStore (teonett@gmail.com)
            <button type="button" class="btn btn-warning btn-sm">
                <a data-ga-click="Footer, go to privacy, text:privacy" href="/store/privacy">Privacy</a>
            </button>
            <button type="button" class="btn btn-warning btn-sm">
                <a data-ga-click="Footer, go to faq, text:faq" href="/store/faq">Faq</a>
            </button>
            <button type="button" class="btn btn-warning btn-sm">
                <a href="/store/jobs" data-ga-click="Footer, go to jobs, text:jobs">Jobs</a>
            </button>
            <button type="button" class="btn btn-warning btn-sm">
                <a data-ga-click="Footer, go to about, text:about" href="/store/about">About</a>
            </button>
        </div>

    </footer>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)

</body>
</html>
