<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookStore</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container" style="padding:25px">
            <div class="navbar-header">
                <a asp-area="" asp-controller="Store" asp-action="Carrossel" class="navbar-brand"></a>
            </div>
            <div class="navbar-collapse collapse">
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer style="text-align:left; position:absolute; bottom:0; width:100%; padding-top: 25px; padding-bottom: 25px; grid-row-start: 2; grid-row-end: 3;">

            <nav class="footer-nav">
                <div class="footer-nav-col-group">
                    <table>
                        <tr align="center">
                            <td style="width:25%">
                                <button type="button" class="footer-list-title" data-name="footer-list-books" style="width:100%">New and used books</button>
                            </td>
                            <td style="width:25%">
                                <button type="button" class="footer-list-title" data-name="footer-list-care" style="width:100%">Customer care</button>
                            </tdstyle="width:25%">
                            <td style="width:25%">
                                <button type="button" class="footer-list-title" data-name="footer-list-seller" style="width:100%">Booksellers</button>
                            </td>
                            <td style="width:25%">
                                <button type="button" class="footer-list-title" data-name="footer-list-info" style="width:100%">Bookstores.com info</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul class="footer-list" data-name="footer-list-books">
                                    <li><a href="#">Buy textbooks</a></li>
                                    <li><a href="#">Rent textbooks</a></li>
                                    <li><a href="#">Sell textbooks</a></li>
                                    <li><a href="#">Buy books</a></li>
                                </ul>
                            </td>
                            <td>
                                <ul class="footer-list" data-name="footer-list-care">
                                    <li><a href="/store/contact">Contact us</a></li>
                                    <li><a href="#">Customer account home</a></li>
                                    <li><a href="#">Help & general policies</a></li>
                                    <li><a href="/store/resume">Order status</a></li>
                                </ul>
                            </td>
                            <td>
                                <ul class="footer-list" data-name="footer-list-seller">
                                    <li><a href="#">Bookseller account home</a></li>
                                    <li><a href="store/faq">Bookseller FAQ</a></li>
                                    <li><a href="#">Bookseller information</a></li>
                                    <li><a href="/store/privacy">Bookseller policy</a></li>
                                </ul>
                            </td>
                            <td>        
                                <ul class="footer-list" data-name="footer-list-info">
                                    <li><a href="/info/about.aspx">About Bookstores.com</a></li>
                                    <li><a href="#">Jobs</a></li>
                                    <li><a href="#">Participation Agreement</a></li>
                                    <li><a href="#">Partners</a></li>
                                    <li></li>
                                </ul>
                            </td>
                        </tr>
                    </table> 
                </div>
            </nav>
            <div style="text-align:center">
                <p>&copy; 2 0 2 0   -   J o s e   T e o t o n i o   -   B o o k S t o r e   (teonett@gmail.com) </p>
        </footer>
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)

</body>
</html>
