@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<section class="cd-faq js-cd-faq container max-width-md margin-top-lg margin-bottom-lg">

    <ul class="cd-faq__categories">
        <li><a class="cd-faq__category cd-faq__category-selected truncate" href="#about">About Us</a></li>
        <li><a class="cd-faq__category truncate" href="#mission">Our Mission</a></li>
        <li><a class="cd-faq__category truncate" href="#promise">Our Promise</a></li>
        <li><a class="cd-faq__category truncate" href="#vibe">Our Vibe</a></li>
    </ul> <!-- cd-faq__categories -->

    <div class="cd-faq__items">
        <ul id="Commitment" class="cd-faq__group">
            <li class="cd-faq__title"><h2>About Us</h2></li>
            <li class="cd-faq__item">
                <div class="cd-faq__content">
                    <div class="text-component">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quidem blanditiis delectus corporis, possimus officia sint sequi ex tenetur id impedit est pariatur iure animi non a ratione reiciendis nihil sed consequatur atque repellendus fugit perspiciatis rerum et. Dolorum consequuntur fugit deleniti, soluta fuga nobis. Ducimus blanditiis velit sit iste delectus obcaecati debitis omnis, assumenda accusamus cumque perferendis eos aut quidem! Aut, totam rerum, cupiditate quae aperiam voluptas rem inventore quas, ex maxime culpa nam soluta labore at amet nihil laborum? Explicabo numquam, sit fugit, voluptatem autem atque quis quam voluptate fugiat earum rem hic, reprehenderit quaerat tempore at. Aperiam.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis provident officiis, reprehenderit numquam. Praesentium veritatis eos tenetur magni debitis inventore fugit, magnam, reiciendis, saepe obcaecati ex vero quaerat distinctio velit.</p>
                    </div>
                </div>
            </li>
        </ul>

        <ul id="mission" class="cd-faq__group">
            <li class="cd-faq__title"><h2>Our Mission</h2></li>
            <li class="cd-faq__item">
                <div class="cd-faq__content">
                    <div class="text-component">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit quidem delectus rerum eligendi mollitia, repudiandae quae beatae. Et repellat quam atque corrupti iusto architecto impedit explicabo repudiandae qui similique aut iure ipsum quis inventore nulla error aliquid alias quia dolorem dolore, odio excepturi veniam odit veritatis. Quo iure magnam, et cum. Laudantium, eaque non? Tempore nihil corporis cumque dolor ipsum accusamus sapiente aliquid quis ea assumenda deserunt praesentium voluptatibus, accusantium a mollitia necessitatibus nostrum voluptatem numquam modi ab, sint rem.</p>
                    </div>
                </div>
            </li>
        </ul>

        <ul id="promise" class="cd-faq__group">
            <li class="cd-faq__title"><h2>Our Promise</h2></li>
            <li class="cd-faq__item">
                <div class="cd-faq__content">
                    <div class="text-component">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis earum autem consectetur labore eius tenetur esse, in temporibus sequi cum voluptatem vitae repellat nostrum odio perspiciatis dolores recusandae necessitatibus, unde, deserunt voluptas possimus veniam magni soluta deleniti! Architecto, quidem, totam. Fugit minus odit unde ea cupiditate ab aperiam sed dolore facere nihil laboriosam dolorum repellat deleniti aliquam fugiat laudantium delectus sint iure odio, necessitatibus rem quisquam! Ipsum praesentium quam nisi sint, impedit sapiente facilis laudantium mollitia quae fugiat similique. Dolor maiores aliquid incidunt commodi doloremque rem! Quaerat, debitis voluptatem vero qui enim, sunt reiciendis tempore inventore maxime quasi fugiat accusamus beatae modi voluptates iste officia esse soluta tempora labore quisquam fuga, cum. Sint nemo iste nulla accusamus quam qui quos, vero, minus id. Eius mollitia consequatur fugit nam consequuntur nesciunt illo id quis reprehenderit obcaecati voluptates corrupti, minus! Possimus, perspiciatis!</p>
                    </div>
                </div>
            </li>
        </ul>

        <ul id="vibe" class="cd-faq__group">
            <li class="cd-faq__title"><h2>Our Vibe</h2></li>
            <li class="cd-faq__item">
                <div class="cd-faq__content">
                    <div class="text-component">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit quidem delectus rerum eligendi mollitia, repudiandae quae beatae. Et repellat quam atque corrupti iusto architecto impedit explicabo repudiandae qui similique aut iure ipsum quis inventore nulla error aliquid alias quia dolorem dolore, odio excepturi veniam odit veritatis. Quo iure magnam, et cum. Laudantium, eaque non? Tempore nihil corporis cumque dolor ipsum accusamus sapiente aliquid quis ea assumenda deserunt praesentium voluptatibus, accusantium a mollitia necessitatibus nostrum voluptatem numquam modi ab, sint rem.</p>
                    </div>
                </div>
            </li>
        </ul>

    </div>

    <div class="cd-faq__overlay" aria-hidden="true"></div>
