@{
    ViewData["Title"] = "Account";
}

<h1><b>My Account</b></h1><br />

<div class="panel panel-default">
    <div class="panel-body">

        <divl class="row" style="padding-left:15px">

            <label for="nameAccount" style="width: 100px; text-align:left">Name</label>
            <input type="text" class="form-control" id="nomeCliente" placeholder="Ex.: Jhon Doe" style="width:500px">

            <label for="nameAccount" style="width: 100px; text-align:left">E-mail</label>
            <input type="email" class="form-control" id="email" placeholder="jhon.doe@mail.com" style="width:400px">

    </div><br />

    <div class="row" style="padding-left:15px">

        <label for="nameAccount" style="width: 100px; text-align:left">Address</label>
        <input type="text" class="form-control" id="endereco" placeholder="123 Street" style="width:500px">

        <label for="nameAccount" style="width: 100px; text-align:left"> Complement</label>
        <input type="text" class="form-control" id="complemento" placeholder="4 floor" style="width:400px">

    </div><br />

    <div class="row" style="padding-left:15px">

        <label for="nameAccount" style="width: 100px; text-align:left">District</label>
        <input type="text" class="form-control" id="bairro" placeholder="Doe Ville" style="width:500px">

        <label for="nameAccount" style="width: 100px; text-align:left"> City</label>
        <input type="text" class="form-control" id="municipio" placeholder="Dallas" style="width:400px">

    </div><br />

    <div class="row" style="padding-left:15px">

        <label for="nameAccount" style="width: 100px; text-align:left"> State</label>
        <select class="form-control single-select" name="UF" style="width:200px">
            <option selected value="">[Choose]</option>
            <option value="AC">Acre</option>
            <option value="AL">Alagoas</option>
            <option value="AP">Amapá</option>
            <option value="AM">Amazonas</option>
            <option value="BA">Bahia</option>
            <option value="CE">Ceará</option>
            <option value="DF">Distrito Federal</option>
            <option value="ES">Espírito Santo</option>
            <option value="GO">Goiás</option>
            <option value="MA">Maranhão</option>
            <option value="MT">Mato Grosso</option>
            <option value="MS">Mato Grosso do Sul</option>
            <option value="MG">Minas Gerais</option>
            <option value="PA">Pará</option>
            <option value="PB">Paraíba</option>
            <option value="PR">Paraná</option>
            <option value="PE">Pernambuco</option>
            <option value="PI">Piauí</option>
            <option value="RJ">Rio de Janeiro</option>
            <option value="RN">Rio Grande do Norte</option>
            <option value="RS">Rio Grande do Sul</option>
            <option value="RO">Rondônia</option>
            <option value="RR">Roraima</option>
            <option value="SC">Santa Catarina</option>
            <option value="SP">São Paulo</option>
            <option value="SE">Sergipe</option>
            <option value="TO">Tocantins</option>
        </select>

        <label for="cep" style="width: 100px; text-align:left"> Zip Code</label>
        <input type="text" class="form-control" id="cep" placeholder="99999-999" style="width:200px">

        <label for="nameAccount" style="width: 100px; text-align:left">Phone</label>
        <input type="text" class="form-control" id="telefone" placeholder="+55(99)99999-9999" style="width:200px">

    </div><br />

    </div>
