@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"]</h1>

<p style="font-size:x-large;padding-top:30px; padding-bottom:30px">
    Tell us about your issue so we can help you more quickly.
</p

<p>
    <table align="center" style="padding-top:30px; padding-bottom:30px">
        <thead>
            <tr style="text-align:center">
                <th><img src="https://www.paypalobjects.com/digitalassets/c/icons/chat_blue_72.png" style="height: 80px;width: 60px;"/></th>
                <th><img src="https://www.paypalobjects.com/digitalassets/c/icons/man_blue_72_2x.png" style="height: 80px;width: 60px;"/></th>
                <th><img src="https://www.paypalobjects.com/digitalassets/c/icons/rescenter_blue_72.png" style="height: 80px;width: 60px;"/></th>
                <th><img src="https://www.paypalobjects.com/digitalassets/c/icons/call_blue_72_2x.png" style="height: 80px;width: 60px;"></th>
            </tr>
        </thead>
        <tbody>
            <tr style="        text-align: center;
        font-size: x-large
">
                <td style="width:25%"><a href="#">Message us</a></td>
                <td style="width:25%"><a href="#">Ask the community</a></td>
                <td style="width:25%"><a href="#">Resolution Center</a></td>
                <td style="width:25%"><a href="#">Call us</a></td>
            </tr>
            <tr style="text-align:center; font-size:smaller">
                <td>It's like texting, send us a note!</td>
                <td>1901 members are online right now.</td>
                <td>Report an issue or request a refund</td>
                <td>We're here to help</td>
            </tr>
        </tbody>
    </table>
</p>