@{
    ViewData["Title"] = "Jobs";
}
<h1>@ViewData["Title"]</h1>

<div class="site-blocks-cover overlay" style="background-image: url('images/hero_1.jpg');" data-aos="fade" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12" data-aos="fade">
                <form action="#">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="small">or browse by category: <a href="#" class="category">Category #1</a> <a href="#" class="category">Category #2</a></p>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<div class="site-section" data-aos="fade">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 mb-5 mb-md-0">

                <div class="img-border">
                    <a href="https://vimeo.com/28959265" class="popup-vimeo image-play">
                        <span class="icon-wrap">
                            <span class="icon icon-play"></span>
                        </span>
                        <img src="/images/hero_2.jpg" alt="Image" class="img-fluid rounded">
                    </a>
                </div>

            </div>
            <div class="col-md-5 ml-auto">
                <div class="text-left mb-5 section-heading">
                    <h2>Testimonies</h2>
                </div>

                <p class="mb-4 h5 font-italic lineheight1-5">&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, nisi Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit nobis magni eaque velit eum, id rem eveniet dolor possimus voluptas..&rdquo;</p>
                <p>&mdash; <strong class="text-black font-weight-bold">Sherlock Holmes</strong>, Marketing Strategist</p>
                <p><a href="https://vimeo.com/28959265" class="popup-vimeo text-uppercase">Watch Video <span class="icon-arrow-right small"></span></a></p>
            </div>
        </div>
    </div>
</div>
<hr />

<div class="site-blocks-cover overlay inner-page" style="background-image: url('images/hero_1.jpg');" data-aos="fade" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-6 text-center" data-aos="fade">
                <h1 class="h3 mb-0">Your Dream Job</h1>
                <p class="h3 text-white mb-5">Is Waiting For You</p>
                <p><a href="#" class="btn btn-outline-warning py-3 px-4">Find Jobs</a> <a href="#" class="btn btn-warning py-3 px-4">Apply For A Job</a></p>

            </div>
        </div>
    </div>
</div>

<div class="site-section site-block-feature bg-light">
    <div class="container">

        <div class="text-center mb-5 section-heading">
            <h2>Why Choose Us</h2>
        </div>

        <div class="d-block d-md-flex border-bottom">
            <div class="text-center p-4 item border-right" data-aos="fade">
                <span class="flaticon-worker display-3 mb-3 d-block text-primary"></span>
                <h2 class="h4">More Jobs Every Day</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati reprehenderit explicabo quos fugit vitae dolorum.</p>
                <p><a href="#">Read More <span class="icon-arrow-right small"></span></a></p>
            </div>
            <div class="text-center p-4 item" data-aos="fade">
                <span class="flaticon-wrench display-3 mb-3 d-block text-primary"></span>
                <h2 class="h4">Creative Jobs</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati reprehenderit explicabo quos fugit vitae dolorum.</p>
                <p><a href="#">Read More <span class="icon-arrow-right small"></span></a></p>
            </div>
        </div>
        <div class="d-block d-md-flex">
            <div class="text-center p-4 item border-right" data-aos="fade">
                <span class="flaticon-stethoscope display-3 mb-3 d-block text-primary"></span>
                <h2 class="h4">Atendent</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati reprehenderit explicabo quos fugit vitae dolorum.</p>
                <p><a href="#">Read More <span class="icon-arrow-right small"></span></a></p>
            </div>
            <div class="text-center p-4 item" data-aos="fade">
                <span class="flaticon-calculator display-3 mb-3 d-block text-primary"></span>
                <h2 class="h4">Finance &amp; Accounting</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati reprehenderit explicabo quos fugit vitae dolorum.</p>
                <p><a href="#">Read More <span class="icon-arrow-right small"></span></a></p>
            </div>
        </div>
    </div>
</div>

<div class="site-section block-15">
    <div class="container">

        <div class="nonloop-block-15 owl-carousel">


            <div class="media-with-text">
                <div class="img-border-sm mb-4">
                    <a href="#" class="image-play">
                        <img src="images/img_1.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <h2 class="heading mb-0 h5"><a href="#">Working on resolute determination</a></h2>
                <span class="mb-3 d-block post-date">January 20, 2017 &bullet; By <a href="#">Napoleon Bonaparte</a></span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio dolores culpa qui aliquam placeat nobis veritatis tempora natus rerum obcaecati.</p>
            </div>

            <div class="media-with-text">
                <div class="img-border-sm mb-4">
                    <a href="#" class="image-play">
                        <img src="images/img_2.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <h2 class="heading mb-0 h5"><a href="#">Working with discipline is wisdom and vice versa</a></h2>
                <span class="mb-3 d-block post-date">March 10, 2018 &bullet; By <a href="#">M. Scott Peck</a></span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio dolores culpa qui aliquam placeat nobis veritatis tempora natus rerum obcaecati.</p>
            </div>

           
            <div class="media-with-text">
                <div class="img-border-sm mb-4">
                    <a href="#" class="image-play">
                        <img src="images/img_1.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <h2 class="heading mb-0 h5"><a href="#">Knowledge speaks, but wisdom listens</a></h2>
                <span class="mb-3 d-block post-date">October 05, 2018 &bullet; By <a href="#">Jimi Hendrix</a></span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio dolores culpa qui aliquam placeat nobis veritatis tempora natus rerum obcaecati.</p>
            </div>

        </div>

        <div class="row">

        </div>
    </div>
</div>

<footer class="site-footer">
    <div class="container">


        <div class="row">
            <div class="col-md-4">
                <h3 class="footer-heading mb-4 text-white">About</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat quos rem ullam, placeat amet.</p>
                <p><a href="#" class="btn btn-primary pill text-white px-4">Read More</a></p>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="footer-heading mb-4 text-white">Quick Menu</h3>
                        <ul class="list-unstyled">
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Approach</a></li>
                            <li><a href="#">Sustainability</a></li>
                            <li><a href="#">News</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h3 class="footer-heading mb-4 text-white">Categories</h3>
                        <ul class="list-unstyled">
                            <li><a href="#">Full Time</a></li>
                            <li><a href="#">Freelance</a></li>
                            <li><a href="#">Temporary</a></li>
                            <li><a href="#">Internship</a></li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="col-md-2">
                <div class="col-md-12"><h3 class="footer-heading mb-4 text-white">Social Icons</h3></div>
                <div class="col-md-12">
                    <p>
                        <a href="#" class="pb-2 pr-2 pl-0"><span class="icon-facebook"></span></a>
                        <a href="#" class="p-2"><span class="icon-twitter"></span></a>
                        <a href="#" class="p-2"><span class="icon-instagram"></span></a>
                        <a href="#" class="p-2"><span class="icon-vimeo"></span></a>

                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
  </div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&libraries=places&callback=initAutocomplete"
        async defer></script>