@{
    ViewData["Title"] = "Resume";
}

<h1 style="padding:25px"><b>Order Resume</b></h1>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <h3>Order Nr: 123</h3>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-3">
                <h3>Account</h3>
                <div>Jhon Doe</div>
                <div>(11) 1234-5678</div>
            </div>
            <div class="col-md-3">
                jhon.doe@mail.com
            </div>
            <div class="col-md-6">
                <h3>Delivery Address</h3>
                <div>Little Whinging - Surrey - Unite Kingdom</div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-10">
                <h3>Item</h3>
            </div>
            <div class="col-md-2">
                <h3>Quantity</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <div>The Art of War - Sun Tzu</div>
            </div>
            <div class="col-md-2">
                <div class="pull-right">2</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <div>The Alchimist - Paulo Coelho</div>
            </div>
            <div class="col-md-2">
                <div class="pull-right">3</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <div>The Help - Kathryn Stockett</div>
            </div>
            <div class="col-md-2">
                <div class="pull-right">1</div>
            </div>
        </div>
    </div>
</div>
